. {
    box-sizing: content-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    display: block;
    justify-content: center;
    align-content: center;
}
.container{
    max-width: 500px auto;
    margin: 100px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.Algorithm{
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px 40px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.salary{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#salary::-webkit-inner-spin-button,
#salary::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#allowance::-webkit-inner-spin-button,
#allowance::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #4caf50;
    cursor:  pointer;
}
button:hover{
    background-color: rgb(2, 154, 2);
}
#Taxresults{
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
table, tr{
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100% auto;
}
th{
    margin: 100px;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}
td{
    padding: 10px;
    text-align: right;
    font-weight: normal;
}
tr:nth-child(even){
    background-color: #d9d9d9;
}
table.tablehead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
}
h4{
    text-transform: uppercase;
}
p{
    font-weight: normal;
}