body{
    background-color: rgb(247, 250, 250);
    background-image: url('image/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: rgba(230, 129, 129, 0.8);
    width: 400px;
    height: auto;
    margin-left: 430px;
    margin-top: 120px;
    border-radius: 20px;
    border: 2px solid black;
}
#img{
    width: 120px;
    height: 120px;
    margin-left: 130px;
    margin-top: -50px;
    border: 2px solid black;
    border-radius: 50%;
}
h1{
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    text-shadow: 1em;
}
form{
    margin: 20px;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
input[type='text'],[type='password']{
    width: 350px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    font-weight: 1.5em;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black;
}
#name{
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#btn-log{
    width: 350px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(6, 6, 6, 0.9);
    border: none;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
}
#btn-log:hover{
    width: 350px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(225, 17, 17);
    border: none;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 252, 252);
}

#btn-gm{
    width: 174px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(6, 6, 6, 0.9);
    border: none;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    margin-top: 10px;
}
#btn-gm:hover{
    width: 174px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(225, 17, 17);
    border: none;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 252, 252);
    margin-top: 10px;
}

#btn-x{
        width: 174px;
        height: 35px;
        border-radius: 10px;
        background-color: rgba(6, 6, 6, 0.9);
        border: none;
        font-size: 1.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: azure;
        margin-top: 10px;
}
#btn-x:hover{
        width: 174px;
        height: 35px;
        border-radius: 10px;
        background-color: rgb(225, 17, 17);
        border: none;
        font-size: 1.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(252, 252, 252);
        margin-top: 10px;
}    
a{
    text-transform: capitalize;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
