. {
    box-sizing: content-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    justify-content: center;
    align-content: center;
    background-color: rgb(237, 233, 233);
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: black;
    width: 100%;
    color: bisque;
}
table{
    margin-top: 10px;
}
table, th, td{
    padding: 10px;
    border: 2px solid black;
    border-collapse: ;
}
.sub{
    width: 150px;
    font-weight: bold;
    text-align: left;
}
input{
    border: none;
    background-color: transparent;
    width: 50px;
    text-align: right;
    font-weight: bold;
}
p{
    text-align: center;
    font-weight: bold;
    padding: 0;
    width: 50px;
}
tr:nth-child(even){
    background-color: bisque;
}
.cal{
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: bisque;
    font-weight: bold;
    /* margin: 20px; */
    display: flex;
    padding: 20px;
}
.btn{
    margin-top: 20px;
    padding: 10px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    background-color: black;
    color: bisque;
    box-shadow: 3px 10px 20px rgba(79, 126, 244, 0.862)
}
